* {
  margin: 0px;
  padding: 0px;
  font-family: arial;
}
h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

body {
  background-color: #000611;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 30px auto 50px
}

#header {
  background-color: #000000;
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
}

#leftNav {
  width: 10px;
  grid-column: 1/2;
  grid-row: 2/3;
}

#rightNav {
  width: 10px;
  grid-column: 3/4;
  grid-row: 2/3;
}

#footer {
  grid-column: 1/4;
  grid-row: 3/4;
  text-align: center;
}

#article {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: 600px;
  display: grid;
  grid-template-rows: 300px auto;
}

#countdown {
  margin: 10px;
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
}

#counter {
  font-size: 256px;
}

#list {
  margin-top: 10px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.launchInfo {
  text-decoration: none;
  width: 500px;
  border: medium solid black;
  margin-top: 10px;
  padding: 5px;
  border-color: #0b234f;
  background-color: #000000;
}

#more {
  margin-top: 10px;
  cursor: pointer;
}

#back {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#launchDetails {
  margin-top: 20px;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

.field {
  margin: 10px;
}

#launchName {
  grid-row: 1/2;
}

#launchDate {
  grid-row: 2/3;
}

#launchStatus {
  grid-row: 3/4;
}

#launchDescription {
  grid-row: 4/5;
}

#launchAgency {
  grid-row: 5/6;
}

#launchLocation {
  grid-row: 6/7;
}

#launchVideo {
  grid-row: 7/8;
}

#launchDistance {
  grid-row: 8/9;
}
